@charset "UTF-8";
body {
  padding: 50px;
  font: 0.9em "メイリオ", sans-serif; }

a {
  color: #00B7FF; }

::selection {
  background: #007BC3; }

::-moz-selection {
  background: #007BC3; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  margin: 0;
  padding: 0;
  list-style-position: outside; }

.header {
  height: 100px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0; }

.header_logo {
  color: transparent;
  bottom: 0;
  left: 40px;
  margin: auto 0;
  position: absolute;
  height: 80px;
  top: 0;
  width: 80px; }

.header_menu {
  position: absolute;
  right: 40px;
  top: 30px;
  z-index: 99999; }

.header_menu a {
  color: #444;
  margin-right: 5px;
  margin-left: 5px; }

.header_selected {
  font-weight: 600; }

.main {
  width: 80%;
  margin: 0 auto;
  margin-top: 60px; }

.container {
  width: 100%; }

.top-main {
  text-align: center;
  width: 80%;
  margin: 0 auto; }

.author {
  font-size: 2em;
  font-weight: 600;
  margin-top: -20px;
  margin-bottom: 20px; }

.menu a {
  margin-right: 5px;
  margin-left: 5px; }

.career {
  list-style-type: none; }

.about_name {
  font-size: 1.8em;
  font-weight: 600; }

.about_head {
  font-size: 1.3em;
  font-weight: 600; }

.contact_mail {
  margin-left: 5px; }

.career li {
  margin-left: 5px; }

.skill {
  list-style-type: none; }

.skill li {
  margin-left: 5px; }

.works_grid {
  margin-bottom: 40px; }

.works_title {
  font-size: 2em;
  margin-bottom: 30px;
  font-weight: 600; }

.works_img {
  margin-bottom: 15px; }

.works_desc_head {
  font-size: 1.6em; }

.works_youtube iframe {
  width: 100%; }
