extends works_detail

block desc_content
  img(src=works_img, class="works_img")
  h2.works_desc_head Description
  p.works_desc
  a(href="http://hacklog.jp/events/22") START ME UP AWARDS hackathon
  | にてFX情報を音に変換して聴けるサービスのウェブデザイン・実装を行いました。
  br
  | URL :
  a(href="http://fxsounds.azurewebsites.net/") http://fxsounds.azurewebsites.net/  
