extends layout

block content
  .container
    .top-main
      img(src='/img/logo.svg')
      .author
        | Shunya Matsuno
      .menu
        a(href='/about') About
        | /
        a(href='/works') Works
        | /
        a(href='/blog') Blog
