extends works_detail

block desc_content
  .works_youtube
    iframe(width='853', height='480', src='https://www.youtube.com/embed/L6tv7HUhgIA', frameborder='0', allowfullscreen='')
  h2.works_desc_head Description
  p.works_desc
  | 映像とプログラムを使用した表現を行うVJユニット
  a(href="http://meganeandbob.com") めがね&ボブ
  | として、音楽に合わせて映像を重ねて遊べる「コログラフィック」を制作しました。
  br
  | ユニット自らのVJ体験を元に、映像やプログラミングなどに馴染みの無い人でも簡単に映像を操って音楽に合わせるという行為を楽しんでもらう目的の作品です。

  h2.works_desc_head Exhibition
  a(href="http://meganeandbob.com/#kasaneru")かさねるまわるあそぶ展
  br
  a(href="http://www.iamas.ac.jp/16249")触楽展Ⅱ
