doctype html
html(lang='en')
  head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#')
    meta(property='og:title', content=title)
    meta(property='og:type', content=og_type)
    meta(property='og:image', content='http://shma.jp/img/og_logo.png')
    meta(property='og:site_name', content='Shunya Matsuno')
    meta(property='og:description', content='The portfolio website of Shunya Matsuno')
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
    title= title
    link(rel='shortcut icon', href='/img/favicon.ico')
    block css
      link(rel='stylesheet', href='/css/uikit.min.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content
