extends works_detail

block desc_content
  img(src=works_img, class="works_img")
  h2.works_desc_head Description
  p.works_desc
    | cinema staffが主催する音楽イベントOOPARTS GIFU 2015のウェブサイトのデザイン、実装を行いました。
    br
    | ディレクションは、
    a(href="http://scottallen.ws") Scott Allen
    | さんに担当していただきました。
    br
    | 岐阜駅の商店街と一体となって展開される音楽イベントで、音楽だけでなく街自体を楽しめる企画でした。
    br
    | URL:
    a(href="http://ooparts-gifu.com/") http://ooparts-gifu.com/
