extends works_detail

block desc_content
  img(src=works_img, class="works_img")
  h2.works_desc_head Description
  p.works_desc
  | 映像とプログラムを使用した表現を行うVJユニット
  a(href="http://meganeandbob.com") めがね&ボブ
  | として、映像インスタレーション作品「ヘイメンと9人のシカク」を制作しました。
  br
  | アクリルの積み木の影が壁に投影されている映像に干渉し、3D空間から生じたものが2D空間に介入することで映像を操ることができる作品です

  h2.works_desc_head Exhibition
  a(href="http://meganeandbob.com/#kasaneru")かさねるまわるあそぶ展
