extends works_detail

block desc_content
  .works_youtube
    iframe(width='853', height='480', src='https://www.youtube.com/embed/IFnT0r4Ne5M', frameborder='0', allowfullscreen='')
  h2.works_desc_head Description
  p.works_desc
  | Instagramers Japanが主催するIgersJP最強展大阪にて体験型の作品「すごいインスタグラム」を展示しました。
  br
  | ディレクションは
  a(href="http://websta.me") WEBSTA
  | の
  a(href="http://jmworks.co.uk/") Joe Mio
  | さんに行っていただきました。
  br
  | 制作記 :
  a(href="http://shma.jp/blog/?p=38") メイキングオブすごいインスタグラム
